source
example-project
scripts
node_modules
.prettierc
__tests__
tsconfig.json
tsconfig.dist.json
!dist/startAnimationDevelopment/browser/tsconfig.json
*.tgz
package*
assets
developmentAssets
test-results
*.Dockerfile
*.docker-compose.yml
!dist/dist*